h1{
    font-size: 30px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 27px;
}
.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px

}
img{
    height: 250px;
    width: 250px;
}
body {
    text-align:center;
}